<a routerLink="/meetup/{{meetup._id}}">
  <div class="card hvr-wobble-vertical">
    <div class="card-image">
      <figure class="image is-3by2">
        <img src="{{ meetup.image }}" alt="Placeholder image" />
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">{{ meetup.startDate | date: 'MMM dd' | uppercase }}</figure>
        </div>
        <div class="media-content">
          <p class="title is-4">{{ meetup.title | slice: 0: 20 }}</p>
          <div class="subtitle">
            <p class="is-size-7 has-text-grey">{{ meetup.startDate | date: 'E, MMM d, h:mm a' }}</p>
            <p class="is-size-7 has-text-grey">{{ meetup.location }}</p>
            <p class="is-size-7 has-text-grey">{{ meetup.price }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</a>