<nav class="navbar" role="navigation" aria-label="main navigation" *ngIf="nav.visible">
  <div class="navbar-brand">
    <a class="navbar-item is-danger" routerLink=""> Spring </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="is-light navbar-item" routerLink="browse">Browse meetup</a>
          <a class="is-light navbar-item" routerLink="create/meetup">Create meetup</a>
          <a class="is-light navbar-item" routerLink="account" *ngIf="!nav.isAuthenticated">Sign in</a>
          <a class="is-light navbar-item" routerLink="account" *ngIf="nav.isAuthenticated">Sign out</a>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- <div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link"> More </a>

  <div class="navbar-dropdown">
    <a class="navbar-item"> About </a> <a class="navbar-item"> Jobs </a>
    <a class="navbar-item"> Contact </a>
    <hr class="navbar-divider" />
    <a class="navbar-item"> Report an issue </a>
  </div>
</div> -->
