<nav class="navbar" role="navigation" aria-label="main navigation" *ngIf="nav.visible">
  <div class="navbar-brand">
    <a class="navbar-item is-danger" routerLink=""> Spring </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="is-light navbar-item" routerLink="browse">Browse meetups</a>
          <a class="is-light navbar-item" routerLink="account" *ngIf="!nav.isAuthenticated">Sign in</a>
          <div class="navbar-item has-dropdown is-hoverable" *ngIf="nav.isAuthenticated">
            <a class="navbar-link"> Dennis Wanjiru </a>

            <div class="navbar-dropdown">
              <a class="navbar-item"> Profile </a>
              <hr class="navbar-divider" />
              <a class="navbar-item"> My Dashboard </a>
              <hr class="navbar-divider" />
              <a class="navbar-item" routerLink="/create/meetup"> Create Meetup </a>
              <hr class="navbar-divider" />
              <a class="navbar-item"> Favorites </a>
              <hr class="navbar-divider" />
              <a class="navbar-item"> Sign out </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>


