<div class="auth">
  <div class="columns is-tablet">
    <div class="column is-8 photo is-hidden-mobile">
    </div>
    <div class="column is-4 acc is-mobile">
      <div class="tbs" (click)="toggleSignin()">
        <a class="link" *ngIf="!signin">Sign in</a>
        <a class="link" *ngIf="signin">Sign up</a>
      </div>

      <div *ngIf="signin">
        <h1 class="is-size-4 m-t-100 has-text-weight-semibold">Sign in</h1>
        <span>or <a (click)="toggleSignin()" class="link">create an account</a></span>
      </div>

      <div *ngIf="!signin">
        <h1 class="is-size-4 m-t-100 has-text-weight-semibold">Sign up</h1>
        <span>or <a (click)="toggleSignin()" class="link">sign in to your account</a></span>
      </div>

      <form #f="ngForm" (ngSubmit)="save(f)" class="m-t-20">
        <div class="field" *ngIf="!signin">
          <div class="control">
            <input class="input" type="text" placeholder="Name" ngModel name="name">
          </div>
        </div>

        <div class="field">
          <div class="control">
            <input class="input" type="email" placeholder="Email" ngModel name="email">
          </div>
        </div>

        <div class="field m-t-20">
          <div class="control">
            <input class="input" type="password" placeholder="Password" ngModel name="password">
          </div>
        </div>


        <div class="field m-t-20" *ngIf="!signin">
          <div class="control">
            <input class="input" type="password" placeholder="Confirm Password" ngModel name="confirmPassword">
          </div>
        </div>

        <span class="m-t-25">
          This page is protected by reCAPTCHA and is subject to the Google Privacy Policy and Terms of Service.
        </span>
        <br>
        <label class="checkbox m-t-20" *ngIf="signin">
          <input type="checkbox">
          Remember me
        </label>

        <button type="submit" class="button is-fullwidth m-t-20 primary" *ngIf="signin">Sign in</button>
        <button type="submit" class="button is-fullwidth m-t-20 primary" *ngIf="!signin">Sign up</button>
        <a class="button is-fullwidth m-t-20" *ngIf="signin">Sign in with Google</a>
        <a class="button is-fullwidth m-t-20" *ngIf="!signin">Sign up with Google</a>

        <div class="m-t-20" *ngIf="signin">
          <a href="#" class="is-size-7 link">Forgotten your password?</a>
        </div>
      </form>
    </div>
  </div>
</div>